
html, body {
    height: 100%;
    min-height: 100%;
}

#main-div {
    min-height: 100%;
    margin-top: 70px;
}

.footer {
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #f5f5f5;
}

#introduction {
    text-align: center;
    background-color: aqua;
}

#course {
    height: 100%;
    min-height: 700px;
    width: 100%;
    margin-bottom: 100px;
}

.curriculum {
    width: 18rem;
}

iframe {
    height: 100%;
    position: absolute;
    border: none;
}

nav {
    background-color: lightgrey;
}

#home-header {
    height: 800px;
    width: 100%;
    background-image: url(../images/museum2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-container {
    padding-top: 40px;
    padding-bottom: 50px;
}