{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container main-container">
    <h1>Plan Your Visit</h1>
    <br>
    <h3>Tickets you can exchange</h3>
    <br>
    {% for ticket, item in available.items %}
    <div class="card exchange border-0">
        <h5 class="card-title">{{ticket}}</h5>
        <img src="{% static 'images/' %}{{ tickets_pic|get_item:ticket }}" width="100px" height="100px"> 
        <label>Required item: {{ item }}</label>
        <form method="POST" action=""> {% csrf_token %}
            <input type="hidden" name="ticket" value="{{ticket}}">
            <input type="hidden" name="item" value="{{item}}">
            <input class="btn btn-primary" type="submit" name="exchange" value="Exchange">
        </form>
    </div>
    <br>
    {% endfor %}
    <br>
    <h3>More tickets</h3>
    {% for ticket, item in unavailable.items %}
    <div>
        <span name="ticket">Ticket: {{ ticket }}</span>
    </div>
    {% empty %}
    <p>Come back later for more event tickets!</p>
    {% endfor %}
</div>


{% endblock %}